@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * Get from shadcn UI Themes: https://ui.shadcn.com/themes
 * Or run `pnpx shadcn-custom-theme`
 * By default squadz is using Tailwind CSS color: Indigo
*/

:root {
  --pure-white: 0, 0%, 100%; /* pure white */
  --pure-black: 0, 0%, 0%; /* pure black */
  --white: 0, 0%, 200%;
  --black: 217.5, 13.79%, 11.37%;
}

@layer base {
  :root {
    --background: var(--white);
    --foreground: var(--black);
    --text: var(--pure-black);
    --card: 202.11, 100%, 96%;
    --card-foreground: var(--pure-white);
    --popover: 0 0% 100%;
    --popover-foreground: 229 84% 5%;
    --primary: 238.42, 47.9%, 53.33%;
    --primary-foreground: var(--pure-white);
    --secondary: 238.6, 84.31%, 80%;
    --secondary-foreground: var(--black);
    --destructive: 0 85% 61%;
    --destructive-foreground: var(--pure-white);
    --border: 215 32% 92%;
    --input: 216 21% 66%;
    --ring: 244 76% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: var(--black);
    --foreground: var(--white);
    --text: var(--pure-white);
    --card: 0, 0%, 7.8%;
    --card-foreground: var(--pure-white);
    --popover: 229 84% 5%;
    --popover-foreground: var(--pure-white);
    --primary: 238.42, 47.9%, 53.33%;
    --primary-foreground: var(--pure-white);
    --secondary: 238.6, 84.31%, 80%;
    --secondary-foreground: var(--black);
    --destructive: 0 63% 31%;
    --destructive-foreground: var(--pure-white);
    --border: 217.5, 8%, 19.61%;
    --input: 217.5, 8%, 19.61%;
    --ring: 240, 50%, 25%;
  }
}

/*
 * Custom layers for default stylings
 * Feel free to remove them to reset
 */
@layer base {
  * {
    @apply border-border;
  }

  html {
    font-family: Inter, system-ui, sans-serif;
  }

  body {
    @apply cursor-default bg-background text-foreground transition-colors;
    @apply selection:bg-primary/75 selection:text-white;
    @apply transition-all duration-700;
  }
  img {
    @apply selection:bg-primary/25;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-foreground;
  }
  h1 {
    @apply text-4xl sm:text-5xl;
  }
  h2 {
    @apply text-2xl sm:text-3xl;
  }
  h3 {
    @apply text-xl sm:text-2xl;
  }
  h4 {
    @apply text-lg leading-snug sm:text-xl;
  }
  h5 {
    @apply text-base leading-snug sm:text-lg;
  }
  h6 {
    @apply text-base leading-snug;
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    @apply dark:opacity-0;
  }
}

/*
 * Custom components
 * It's also possible to use the Tailwind classes into a component
 */

@layer components {
  .site-card--title {
    @apply mb-4 text-xl font-medium leading-none tracking-tight text-secondary;
  }
  .site-card {
    @apply site-section-md rounded-md border-secondary border-opacity-5 bg-primary/60 p-4 shadow-md backdrop-blur-lg backdrop-filter;

    border-width: 0.5px;
  }
  .centered {
    min-height: 600px;
    height: calc(100vh - 72px);
  }
  .site-container {
    @apply centered mx-auto flex w-full max-w-7xl grow items-center px-4;
  }
  .site-header {
    @apply mx-auto w-full max-w-prose space-y-4;
  }
  .site-header > p {
    @apply mb-2;
  }
  .site-section {
    @apply mx-auto w-full max-w-prose;
  }
  .site-section-md {
    @apply mx-auto w-full max-w-md;
  }
  .site-section-2xl {
    @apply mx-auto w-full max-w-2xl;
  }
  .app-container {
    @apply flex flex-1 flex-col space-y-6 overflow-hidden p-4 md:mx-[10%];
  }
  .app-header {
    @apply flex w-full flex-wrap;
  }
  .app-section {
    @apply w-full max-w-7xl space-y-2;
  }
  .input-natural {
    @apply border-transparent bg-transparent p-0 placeholder:text-primary-foreground/30;
    @apply focus:border-transparent focus:outline-none;
  }
}

/*
 * Custom utilities
 */
@layer utilities {
  .prose-config {
    @apply prose prose-slate dark:prose-invert focus:outline-none;
    @apply prose-headings:prose-heading-styles;
    @apply prose-a:prose-a-styles;
    @apply prose-pre:prose-pre-styles;
    @apply prose-code:prose-code-styles;
  }
  .prose-heading-styles {
    @apply font-semibold;
  }
  .prose-a-styles {
    @apply cursor-pointer rounded-xs no-underline transition;
    @apply text-primary hover:text-secondary dark:text-secondary dark:hover:text-primary;
  }
  .prose-pre-styles {
    @apply bg-primary text-foreground;
  }
  .prose-code-styles {
    @apply before:content-none after:content-none;
  }
  .prose > ul > li > p {
    @apply my-0;
  }
  .prose > ol > li > p {
    @apply my-0;
  }
}

/* TipTap */
.tiptap p.is-empty::before {
  @apply pointer-events-none float-left h-0 text-primary-foreground/30;

  content: attr(data-placeholder);
}

/* Uploadcare */
.uploadcare-config {
  --h-secondary: 244;
  --s-secondary: 55%;
  --l-secondary: calc(50% - 5% * var(--darkmode));
  --border-radius-element: calc(var(--radius) - 2px);
  --border-radius-frame: calc(var(--radius) - 2px);
  --border-radius-thumb: calc(var(--radius) - 2px);
}

.uploadcare-config.light {
  --darkmode: 0;
}

.uploadcare-config.dark {
  --darkmode: 1;
}

input:-webkit-autofill {
  @apply !appearance-none !bg-background !bg-none !text-foreground;
}
input:autofill {
  @apply !appearance-none !bg-background !bg-none !text-foreground;
}
